* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: rgb(233, 190, 111);
}
main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background: white;
  gap: 1rem;
  width: 50%;
  border: 1px solid white;
  border-radius: 0.5rem;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: auto;
}
img {
  width: 100%;
  height: 100%;
  margin-top: 550px;
  padding: 10px;
}
h1 {
  text-align: left;
  padding: 10px;
  /* margin: 0 auto; */
}
p {
  padding: 10px;
}
.time {
  background: rgb(223, 178, 185);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px;
  gap: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  li {
    /* list-style: none; */
    margin-left: 20px;
    padding: 5px;
  }
  .preparation {
    color: rgb(218, 11, 11);
    padding: 5px;
  }
}
.ingredients-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px;
  gap: 0.5rem;
  /* border-radius: 0.5rem; */
  width: 100%;
  border-bottom: 1px solid black;
  li {
    /* list-style: none; */
    padding: 5px;
    margin-left: 20px;
  }
  .ingredients {
    color: rgb(218, 11, 11);
    padding: 5px;
  }
}
.instructions-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px;
  gap: 0.5rem;
  width: 100%;
  border-bottom: 1px solid black;
  li {
    padding: 5px;
    margin-left: 10px;
    list-style: none;
  }
  .instructions {
    color: rgb(218, 11, 11);
    padding: 5px;
  }
}
.nutrition-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px;
    gap: 0.5rem;
    width: 100%;
    li {
        gap: 0.5rem;
        justify-content: space-between;
        padding: 5px;
        margin-left: 10px;
        list-style: none;
        border-bottom: 1px solid black;
        width: 100;
      }
      .nutrition {
        color: rgb(218, 11, 11);
        padding: 5px;
      }
      b{
        color: rgb(218, 11, 11);
        padding: 5px;
      }
}
